html {
  height: 100%;
}

.taller {
  height: 200%;
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 28px;
  min-height: 100%;
}

h1 {
  border-bottom: 1px solid #EAFBE5;
  width: 70%;
  margin: 2rem auto;
  padding: 2rem;
  font-size: 60px;
}

h3 {
  font-size: 40px;
  margin-bottom: 2rem;
}

body, button {
  background: linear-gradient(#568F6D, #0F4205);
  color: #EAFBE5;
}

fieldset {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  /* margin-bottom: 0.4rem; */
}

fieldset, .submit {
  background: #EAFBE5;
  color: #568F6D;
}

label {
  text-align: left;
}

label, input {
  margin: 1rem;
}

.submit, button {
  font-size: 1.2rem;
  padding: 1rem;
}

.room_size {
  display: flex;
  flex-direction: column;
}

.room_size div, #add_room, fieldset, #calculate {
  margin-bottom: 0.4rem;
}

.room_info {
  display: flex;
  justify-content: space-between;
}

.buffer {
  border: 1px solid #568F6D;
}

.bedroom_div {
  padding-bottom: 1rem;
  border-bottom: 1px solid #568F6D;
  /* width: 80%; */
}

.roommates_div {
  margin-top: 1rem;
}

button {
  width: 20%;
  margin: auto;
}

.move_away {
  position: relative;
  z-index: 10;
  left: 8rem;
}

footer {
  width: 100%;
}

footer #results {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.tooltip {
  background: rgba(0, 0, 0, 0.5);
  color: red;
  padding: 1rem;
  margin-bottom: 0.4rem;
  border-color: #568F6D;
}

@media screen and (max-width: 750px) {
	 fieldset, .room_info {
     flex-direction: column;
   }

   fieldset input {
     height: 4rem;
     margin-top: 2rem;
   }

   #add_room {
     width: 100%;
   }
	}
