html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 28px;
  min-height: 100%;
}

h1 {
  border-bottom: 1px solid #EAFBE5;
  width: 70%;
  margin: 2rem auto;
  padding: 2rem;
}

body, button {
  background: linear-gradient(#568F6D, #0F4205);
  color: #EAFBE5;
}

fieldset {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  /* margin-bottom: 0.4rem; */
}

fieldset, .submit {
  background: #EAFBE5;
  color: #568F6D;
}

label {
  text-align: left;
}

.submit, button {
  font-size: 1.2rem;
  padding: 1rem;
}

.room_size {
  display: flex;
  flex-direction: column;
}

.room_size div, .room_size button, fieldset, #calculate {
  margin-bottom: 0.4rem;
}

.room_info {
  display: flex;
  justify-content: space-between;
}

button {
  width: 20%;
  margin: auto;
}

.move_away {
  position: relative;
  z-index: 10;
  left: 8rem;
}

footer {
  width: 100%;
}

footer #results {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.tooltip {
  background: rgba(0, 0, 0, 0.5);
  color: red;
  padding: 1rem;
  margin-bottom: 0.4rem;
  border-color: #568F6D;
}
